{% load recipes_filters %}
<div class="card" data-id={{ recipe.id }}>
    {% include "includes/items/recipe_image_item.html" with img_class="card__image" %}
    <div class="card__body">
      {% include "includes/items/recipe_title_item.html" %}
      <ul class="card__items">
          {% for tag in recipe.tag.all %}
            {% include "includes/items/recipe_tag_item.html" with tag=tag %}
          {% endfor %}
      </ul>
      <div class="card__items card__items_column">
        {% include "includes/items/recipe_time_item.html" with class="card__text" %}
        {% include "includes/items/recipe_author_item.html" with class="card__text" %}
      </div>
    </div>
    <div class="card__footer">
      {% if user.is_authenticated %}
        {% if recipe.is_purchase %}
          {% include "includes/buttons/button_item.html" with style="light-blue-outline" name="purchases" data_out=False title="Рецепт добавлен" icon=True icon_path="includes/icons/icon_check.html" %}
        {% else %}
          {% include "includes/buttons/button_item.html" with style="light-blue" name="purchases" data_out=True title="Добавить в покупки" icon=True icon_path="includes/icons/icon_plus.html" %}
        {% endif %}
        {% if recipe.is_favorite %}
          {% include "includes/buttons/button_item.html" with style="none" name="favorites" icon=True icon_path="includes/icons/icon_favorite.html" active=True %}
        {% else %}
          {% include "includes/buttons/button_item.html" with style="none" name="favorites" data_out=True icon=True icon_path="includes/icons/icon_favorite.html" active=False %}
        {% endif %}
      {% endif %}
    </div>
</div>