{% extends "base.html" %}
{% block title %}Войти на сайт{% endblock %}
{% load static %}

{% block static_css %}
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block header %}
  {% include 'includes/blocks/header.html' with header_title="Войти на сайт" add_filter_block=False %}
{% endblock %}

{% block content %}
  <div class="form-container">
    <form class="form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% for field in form %}
      {% include "registration/includes/form_field_item.html" %}
    {% endfor %}
    <div class="form__footer">
    {% include 'includes/buttons/button_item.html' with style="blue" title="Войти" %}
    <a href="{% url 'password_reset' %}" class="form__forgot-link">Забыли пароль?</a>
    </div>
    </form>
  </div>
{% endblock %}

