{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% load static %}

{% block static_css %}
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block header %}
  {% include 'includes/blocks/header.html' with header_title="Сброс пароля" add_filter_block=False %}
{% endblock %}

{% block content %}
  <div class="form-container">
    <form class="form" method="post" action="{% url 'password_reset' %}">
      <p class="form__info-text">
        Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
      </p>
      {% for field in form %}
        {% include "includes/form_field_item.html" with field=field %}
      {% endfor %}
      <div class="form__footer">
        <button class="button button_style_blue">Сбросить пароль</button>
      </div>
    </form>
  </div>
{% endblock %}
