<header class="header">
  <nav class="nav">
    <div class="nav__container container">
      <ul class="nav__items list">
        {% include 'includes/items/nav_link_item.html' with url='index' title='Рецепты' %}
        {% if user.is_authenticated %}
          {% include 'includes/items/nav_link_item.html' with url='subscription' title='Мои подписки' %}
          {% include 'includes/items/nav_link_item.html' with url='create_recipe' title='Создать рецепт' %}
          {% include 'includes/items/nav_link_item.html' with url='favorites' title='Избранное' %}
          {% include 'includes/items/nav_link_item.html' with url='purchases' title='Список покупок' counter=True value=user.purchases.count %}
        </ul>
        <ul class="nav__items list">
          {% include 'includes/items/nav_link_item.html' with url='password_change' title='Изменить пароль' %}
          {% include 'includes/items/nav_link_item.html' with url='logout' title='Выход' %}
        </ul>
      {% else %}
        </ul>
        <ul class="nav__items list">
          {% include 'includes/items/nav_link_item.html' with url='login' title='Войти' %}
          {% include 'includes/items/nav_item_button.html' with url='signup' title='Создать аккаунт' %}
        </ul>
      {% endif %}
    </div>
  </nav>
</header>