{% extends "base.html" %}
{% load static %}
{% load recipes_filters %}

{% block title %}Рецепты{% endblock %}

{% block static_css %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block header %}
  {% firstof author.get_full_name author.username as author_name %}
  {% include 'includes/blocks/header.html' with header_title=author_name add_filter_block=True %}
  {% if user.is_authenticated and user != author %}
    {% is_signed_to_author author.id user as signed %}
    {% if signed %}
      <div class="author-subscribe" data-author="{{ author_id }}">
        <p style="padding: 0 0 2em 0;">
          {% include 'includes/buttons/button_item.html' with style="light-blue" size="button_size_subscribe" name="subscribe" title="Отписаться от автора" %}
        </p>
      </div>
    {% else %}
      <div class="author-subscribe" data-author="{{ author_id }}">
        <p style="padding: 0 0 2em 0;">
          {% include 'includes/buttons/button_item.html' with style="light-blue" size="button_size_subscribe" name="subscribe" data_out=True title="Подписаться на автора" %}
        </p>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="card-list">
    {% for recipe in recipe_list %}
      {% include "includes/blocks/recipe_block.html" %}
    {% endfor %}
  </div>
{% endblock %}

{% block static_js %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/components/Subscribe.js' %}"></script>

  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'authorRecipe.js' %}"></script>
{% endblock %}
