{% extends "base.html" %}

{% block title %}Избранное{% endblock %}
{% load static %}

{% block static_css %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block header %}
  {% include 'includes/header.html' with header_title="Избранное" add_filter_block=True %}
{% endblock %}

{% block content %}
  <div class="card-list">
    {% for recipe in recipe_list %}
      {% include "includes/blocks/recipe_block.html" %}
    {% endfor %}
  </div>
{% endblock %}

{% block static_js %}
  <script src="{% static 'js/components/MainCards.js'  %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'favorite.js' %}"></script>
{% endblock %}




