{% extends "base.html" %}

{% block title %}Список покупок{% endblock %}

{% load static %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}

{% block header %}
    {% include 'includes/header.html' with header_title="Список покупок" add_filter_block=False %}
{% endblock %}

{% block content %}
    <div class="card-list card-list_column">
        <ul class="shopping-list">

            {% for purchase in user.purchases.all %}
                <li class="shopping-list__item" data-id="{{ recipe.id }}">
                    <div class="recipe recipe_reverse">

                        {% load thumbnail %}
                        {% thumbnail purchase.recipe.image "1500x1000" crop="center" upscale=True as image%}
                        <img src="{{ image.url }}" alt="{{ recipe.title }}" class="recipe__image recipe__image_big">
                        {% endthumbnail %}

                        <h3 class="recipe__title">{{ purchase.recipe.title }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ purchase.recipe.time }} мин.</p>

                    </div>
                    <a href="{% url 'remove_purchases' purchase.recipe.id  %}" class="shopping-list__button link">Удалить</a>
                </li>
            {% endfor %}

        </ul>

        {% if user.purchases.count > 0 %}
            <a href="{% url 'download_purchases' %}"><button class="button button_style_blue">Скачать список</button></a>
        {% endif %}

    </div>
{% endblock %}

{% block static_js %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock %}

