{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% load static %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block header %}
    {% include 'includes/header.html' with header_title="Регистрация" add_filter_block=False %}
{% endblock %}

{% block content %}
    <div class="form-container">
        <form class="form" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {% for field in form %}
                {% include "includes/form_field_item.html" with field=field %}
            {% endfor %}

            <div class="form__footer">
                <button class="button button_style_blue">Создать аккаунт</button>
            </div>

        </form>
    </div>
{% endblock %}

