{% extends "base.html" %}

{% block title %}Избранное{% endblock %}
{% load static %}

{% block static_css %}
  <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block header %}
  {% include 'includes/blocks/header.html' with header_title="Избранное" %}
{% endblock %}

{% block content %}
  <div class="card-list">
    {% if recipe_list %}
      {% for recipe in recipe_list %}
        {% include "recipes/includes/blocks/recipe_block.html" %}
      {% endfor %}
    {% else %}
      <ul>
      <p class="recipe__text">Добавьте рецепты в избранное.</p>
      <a href="{% url 'index' %}">
        {% include 'includes/buttons/button_item.html' with style="blue" title="На главную" %}
      </a>
      </ul>
    {% endif %}
  </div>
{% endblock %}

{% block static_js %}
  <script src="{% static 'js/components/MainCards.js'  %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'favorite.js' %}"></script>
{% endblock %}
