{% extends "base.html" %}

{% block title %}Список покупок{% endblock %}

{% load static %}
{% block static_css %}
  <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
  <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% block header %}
  {% include 'includes/blocks/header.html' with header_title="Список покупок" %}
{% endblock %}

{% block content %}
  <div class="card-list card-list_column">
    <ul class="shopping-list">
      {% if object_list %}
        {% for purchase in object_list %}
          {% with purchase.recipe as recipe %}
            {% include 'recipes/includes/blocks/purchase_block.html' with
            header_title="Список покупок" %}
          {% endwith %}
        {% endfor %}
        <a href="{% url 'download_purchases' %}">
          {% include 'includes/buttons/button_item.html' with
            style="blue"
            title="Скачать список" %}
        </a>
    </ul>
      {% else %}
        <p class="single-card__section-text">Добавьте рецепты в покупки.</p>
        <a href="{% url 'index' %}">
          {% include 'includes/buttons/button_item.html' with
            style="blue"
            title="На главную" %}
        </a>
      {% endif %}
  </div>
{% endblock %}

{% block static_js %}
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/components/ShopList.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'shopList.js' %}"></script>
{% endblock %}

