{% extends "base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% load static %}
{% block static_css %}
  <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% block content %}
  <div class="single-card" data-id={{ recipe.id }} data-author={{ recipe.author.id }}>
    {% include "recipes/includes/items/recipe_image_item.html" with
    img_class="single-card__image"
    %}
    <div class="single-card__info">
      <div class="single-card__header-info">
        <h1 class="single-card__title">{{ recipe.title }}</h1>
        {% if user.is_authenticated %}
          <div class="single-card__favorite">
            {% include "includes/buttons/button_item.html" with
              style="none"
              name="favorites"
              sign=recipe.is_favorite
              icon_path="recipes/includes/icons/icon_favorite.html"
              size="icon-favorite_big"
              tooltip_path="recipes/includes/items/tooltip_item.html"
              tooltip_flag=recipe.is_favorite
              tooltip_message="Удалить из избранного,Добавить в избранное"
            %}
          </div>
        {% endif %}
      </div>
      <ul class="single-card__items">
        {% include "recipes/includes/items/recipe_tag_item.html" %}
      </ul>
      <div class="single-card__items single-card__items_column">
        {% include "recipes/includes/items/recipe_time_item.html" with
        class="single-card__text"
        %}
        <ul class="single-card__items">
          <li class="single-card__item">
            {% include "recipes/includes/items/recipe_author_item.html" with
              class="single-card__text" %}
          </li>
          {% if user == recipe.author %}
          <li class="single-card__item">
            <a
             style="margin-left: 2.5em"
             href="{% url 'change_recipe' recipe.id %}"
             class="single-card__text">Редактировать рецепт</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% if user.is_authenticated %}
        <ul class="single-card__items">
          {% load recipes_filters %}
          {% if recipe.is_purchase %}
            <li class="single-card__item">
              {% include "includes/buttons/button_item.html" with
                style="light-blue-outline"
                name="purchases"
                sign=recipe.is_purchase
                icon_path="recipes/includes/icons/icon_check.html"
                title="Рецепт добавлен" %}
            </li>
          {% else %}
            <li class="single-card__item">
              {% include "includes/buttons/button_item.html" with
                style="blue"
                name="purchases"
                sign=recipe.is_purchase
                icon_path="recipes/includes/icons/icon_plus.html"
                title="Добавить в покупки" %}
            </li>
          {% endif %}
          {% if user != recipe.author %}
            {% is_signed_to_author recipe.author.id user as signed %}
            {% if signed %}
              <li class="single-card__item">
                {% include "includes/buttons/button_item.html" with
                  style="light-blue"
                  size="button_size_subscribe"
                  name="subscribe"
                  sign=signed
                  title="Отписаться от автора" %}
              </li>
            {% else %}
              <li class="single-card__item">
                {% include "includes/buttons/button_item.html" with
                  style="light-blue"
                  size="button_size_subscribe"
                  name="subscribe"
                  sign=signed
                  title="Подписаться на автора" %}
              </li>
            {% endif %}
          {% endif %}
        </ul>
      {% endif %}
      <div class="single-card__section">
        <h3 class="single-card__section-title">Ингредиенты:</h3>
        <div class="single-card__items single-card__items_column">
          {% for recipe_ingredients in recipe.with_ingredients.all %}
            {% include "recipes/includes/items/recipeingredients_item.html" %}
          {% endfor %}
        </div>
      </div>
      <div class="single-card__section">
        <h3 class="single-card__section-title">Описание:</h3>
        {% include "recipes/includes/items/recipe_description_item.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block static_js %}
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/SingleCard.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'singlePage.js' %}"></script>
    {% else %}
        <script src="{% static 'singlePageNotAuth.js' %}"></script>
    {% endif %}
{% endblock %}