{% extends "base.html" %}

{% block title %}Мои подписки{% endblock %}
{% load static %}

{% block static_css %}
  <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block header %}
  {% include 'includes/blocks/header.html' with header_title="Мои подписки" %}
{% endblock %}

{% block content %}
<div class="card-list">
  {% if object_list %}
    {% for subscription in object_list %}
      {% include 'recipes/includes/blocks/subscription_block.html' %}
    {% endfor %}
  {% else %}
    <ul>
      <p class="recipe__text">Пока вы не подписались ни на одного автора.</p>
      <a href="{% url 'index' %}">
        {% include 'includes/buttons/button_item.html' with
          style="blue"
          title="На главную" %}
      </a>
    </ul>
  {% endif %}
</div>
{% endblock %}

{% block static_js %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/MyFollow.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'myFollow.js' %}"></script>
{% endblock %}