<button
  class="button button_style_{% if button_flag != None %}{{ button_flag|yesno:style }}{% else %}{{ style }}{% endif %} {{ size }}"
  name="{{ name }}"
  {% if not button_flag %}data-out{% endif %}
  {% if onclick %} onclick="window.location.href = '{% url url_name %}';" {% endif %}>
  {% if icon_path %}
    {% include icon_path %}
  {% endif %}
  {% if button_flag != None %}
    {{ button_flag|yesno:title }}
  {% else %}
    {{ title }}
  {% endif %}
</button>
  {% if tooltip_path %}
    {% include tooltip_path %}
  {% endif %}

